@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'PT Sans', sans-serif;
	transition:0.1s;
	scroll-behavior:smooth;
	--webkit-user-select:none;
	-webkit-tap-highlight-color: transparent;
}
body{
	background:white;
	color:black;
	overflow-y:hidden;
}
/*TOP BAR STYLING*/
.topBar{
	display:flex;
	position:fixed;
	justify-content:space-between;
	align-items:center;
	top:0; left:0;
	height:3rem; width:100vw;
	background: black;
	color:white; fill:white;
	padding:0.2rem;
	z-index:99;
}
.topBar h1{
	font-family: 'DynaPuff', cursive;
	font-size:1.5rem;
}
.directIcon {
	display:grid;
	place-items:center;
	position:absolute;
	right:0.4rem;
	padding:0.1rem 0;
	font-size:1.7rem;
}

/*FEED AND DIRECT SECTION*/
.section-A{
	display:flex;
	justify-content:space-between;
	align-items:center;
	overflow-x:hidden;
	margin:3rem 0;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
	background: black;
	z-index:95;
}
/*FEEDS STYLING*/
.feed-container{
	display:block;
	flex-shrink: 0;
	/*display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:colounm;*/
	width:100vw; height:100vh;
	margin:0;
	background: black;
	scroll-snap-align: start;
}
.feed-container h1 {
	font-size:3rem;
}
.feed-container .posts{
	display:;
	background: black;
	color:white;
	margin-top:1rem;
	padding:;
	border-radius:0.1rem;
	box-shadow: 0px 2px 10px black;
}
.post-nav{
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-direction:row;
	background:black;
	color:white;
	padding-right:1rem;
}
.post-nav .post-head{
	display:flex;
	align-items:center;
	margin-right:5.5rem;
	text-transform:lowercase;
}
.post-head .post-pfp{
	width:2.5rem;
	height:2.5rem;
	background:red;
	border-radius:50%;
	margin:0.4rem;
	display:grid;
	place-items:center;
}

.post-nav .post-menu {
	display:;
	top:0; right:0;
	fill:white;
	color:white;
	font-size:17pt;
}

.title {
	margin:0.5rem auto;
	text-transform:capitalize;
}

.post-info{
	display:flex;
	justify-content:space-between;
	align-items:center;
	background:black;
	color:white; fill:white;
	font-size:1.7rem;
	padding:0.4rem 0;
}
.post-info .post-reacts > *{
	margin-right:0.4rem;
}
.post-info .fa-bookmark{
	margin-right:0.5rem;
}
.post-like-count{
	background: black;
	color:red;
	font-size:0.7rem;
	margin:-0.5rem 0 0 0.2rem;
}
.post-caption{
	background: black;
	color:white;
}
.post-caption span{
	font-weight:700;
}
.post-comments , .post-time{
	font-size:0.8rem; margin-top:0.1rem;
	color:silver; background: black;
}
/*DIRECT STYLING*/
.direct-container{
	display:block;
	position:relative;
	flex-shrink: 0;
	/*display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:colounm;*/
	margin:auto;
	width:100vw; height:100vh;
	min-width:95vw;
	background-color: black;
	color:white;
	scroll-snap-align: start;
	top:0; left:0;

}
.d-tb{
	display:flex;
	justify-content:space-around;
	align-items:center;
	background:black;
	width:100vw ; padding:0.5rem;
	font-size:1.5rem;
	
}
/* Assign full width inputs*/  
.search-bar input[type=text],  .search-bar input[type=password] {  
	width: 90vw;  
	padding: 1rem 4rem;
	margin: 0.4rem 1rem;  
	display: inline-block; 
	border:none; border-radius:2rem;
	background:#1c1c1c; color:white;
} 
.search-bar { 
	position: relative; 
} 
.search-bar i{ 
	position: absolute; 
	left: 2.5rem; 
	top: 1rem; 
	color: white;
	font-size:1.5rem;
}
.m-boxes{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:1rem;
	border-radius:0.5rem;
}
.m-boxes .m-clm-a{
	display:flex;
	align-items:center;
	
}
.m-clm-a .m-pfp, .c-pfp{
	float:left;
	border-radius:50%;
	height:2.5rem; width:2.5rem;
	margin-right:0.5rem;
}
.m-clm-a .m-user{
	font-weight:900;
}
.m-clm-a .m-text-box{
	
}
.m-boxes .m-clm-b{
	font-size:1.3rem;
}
.feed-container h1 {
	font-size:3rem;
}
.feed-container .posts{
	display:;
	background: black;
	color:white;
	margin-top:1rem;
	padding:;
	border-radius:0.1rem;
	box-shadow: 0px 2px 10px black;
}
.post-nav{
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-direction:row;
	background:black;
	color:white;
	padding-right:1rem;
}



/*BOTTOM BAR STYLING*/
.bottomBar{
	display:flex;
	bottom:0; left:0;
	justify-content:space-between;
	align-items:center;
	position:fixed;
	background: black;
	height:; width:100vw;
	color:white; fill:white;
	padding:0.7rem;
	font-size:1.7rem;
}
.bottomBar img{
	display:block;
	height:2rem; width:2rem;
	border-radius:50%;
}
a{
	text-decoration:none;
	color:inherit;
}
.chat-container{
	display:none;
	position:fixed;
	background: black;
	/*display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:colounm;*/
	width:100vw; height:100vh;
	color:white;
	top:0; left:0;
	z-index:100;
	transition:ease-in 2s;
}
.c-tb{
	display:flex;
	position:fixed;
	justify-content:space-between;
	align-items:center;
	background:black;
	padding:0.5rem 0.7rem;
	width:100vw;
	font-size:1.2rem;
	overflow:hidden;
	top:0; left:0;
	z-index:101;
}
.c-tb .c-tb-clm-a , .c-tb .c-tb-clm-b{
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:60vw;
	overflow:hidden;
}
.c-tb .c-tb-clm-b{
	width:15vw;
}
.c-tb-clm-a img{
	border-radius:50%;
	height:2rem; width:2rem;
}
.chat-container i{
	font-size:1.6rem;
}
.c-area{
	display:block;
	position:relative;
	flex-direction:coloumn;
	justify-content:flex-end;
	overflow-y:hidden;
	overflow:scroll;
	flex-wrap:wrap;
	height:90vh; width:100vw;
	overflow-wrap: break-word;
	word-wrap: break-word;
}
.c-area .self-msgs{
	display:block;
	position:relative;
	background:rgba(255,0,0,0.8);
	max-width:60vw; 
	padding:1.5rem; margin:0.5rem 0rem 0.5rem 10rem;
	right:0; left:;
	border-radius:2.5rem;
	
}
.c-area .others-msgs{
	display:block;
	position:relative;
	background:rgba(0,0,0,0.8);
	width:50vw;
	padding:1.5rem; margin:0.5rem 0.1rem;
	left:0; right:40vw;
	line-height:1.2;
	border-radius:2.5rem;
}
.c-bb{
	display:flex;
	position:fixed;
	background: black;
	justify-content:space-between;
	align-items:center;
	overflow:hidden;
	padding:0.5rem; width:100vw;
	font-size:1.3rem;
	bottom:0; left:0;
	z-index:101;
}
.c-bb form{
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:100vw;
}
.c-bb .c-ta{
	background: #1c1c1c; color:white;
	outline:none; border: none;
	border-radius:5rem;
	padding:0.5rem;
	width:70vw; margin:0 0.5rem;
}
.c-bb .c-s{
	background: none;
	outline:none; border: none;
	color:red;
	border-radius:5rem;
	padding:0.5rem;
	font-size:1.5rem;
}
.gotoBottom{
	display:grid; position:fixed;
	align-items:center; justify-content:center;
	height:2.5rem; width:2.5rem;
	font-size:1rem; color: silver;
	background: none; border-radius:5rem;
	top:7rem; right:1rem;
	font-weight:100;
	animation:swipe 2s linear infinite ;
}
@keyframes swipe {
	from{opacity:1;}
	to{top:40rem; opacity:0;}
}