@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body{
    justify-content:center;
    align-items:center;
    text-align:center;
    font-family: 'Source Code Pro', monospace;
}
h1{
    letter-spacing:7px;
    font-weight:900;
}
a{
    text-decoration:none;
    color:white;
    letter-spacing:10px;
    line-height:50px;
}
a:hover{
    background-color:none;
    color:silver;
}
#All{
   justify-content:center;
   align-items:center;
   text-align:center;
   background-color:black;
   border-radius:20px;
   margin:2%;
   padding:10%;
   font-size:20pt;
   font-family: 'Righteous', cursive;
   font-weight:900;
}

#c {
  position:relative;
  top:55%;

  height:200%;
  width:100%;
  padding-top:5%;
  overflow:hidden;
}
.footer-basic .social {
  text-align:center;
}
.footer-basic .social > a {
  font-size:20px;
  width:40px;
  height:40px;
  display:inline-block;
  text-align:center;
  margin:0 1px;
  color:#fff;
  padding:1%;
  transition:0.2s;
}
.footer-basic .social > a:hover {
  color:red;
  border-radius:50%;
}
.footer-basic .copyright {
  font-size:13px;
  color:#aaa;
  text-align:center;
  font-family:helvetica;
  font-weight:300;
  letter-spacing:2px;
}