@media screen and (min-width:750px){
    .MenuBar{
        height:9vh;
    }
        .MenuBar .Naman{
                height:3rem;
                width:4.8rem;
                margin:0.2%;
        }
        .MenuBar .menu{
                display:none;
        }
                .MenuBar .Logo {
                    position: absolute;
                    top: 0.5rem;
                    left: 0.5rem;
                    height: 6vh;
                    width: 5vw;
                    margin: 0;
                    padding: 0;
                }
    .Snav{
        display:flex;
        justify-content: right;
        position:absolute;
        background:none;
        box-shadow:none;
        height:8vh;
        width:77vw;
        top:0;
        left:20vw;
        right: 0;
        padding:0.8rem;
        text-align:right;
        transition:0.2s;
    }
        .Snav .nav{
                display:inline-block;
                font-size:1rem;
                text-decoration:none;
                font-family:righteous;
                padding:0.5rem;
                margin: 0 0.2rem;
                color:white;
                text-align: center;
                height: 2.5vh;
                width: 7vw;
        }
        .Snav .nav:hover{
            transform:scale(1);
        }
        .Snav .footer{
            display: none;
        }
        .container{
            overflow:hidden;
            height:80vh;
            padding:1rem auto;
            margin:5rem 10rem 15rem 10rem;
            z-index:6;
            height: auto;
        }
        .blocks .btn{
            font-size: 1.2rem;
        }
        .projects{
            padding-top: 0;
            margin-top: -3rem;
        }
        .c-left{
            margin-left: 15rem;
        }
        .c-right{
            margin-right: 15rem;
        }
        .blocks{
            margin: 1rem auto;
        }
        .blockS{
            display: grid;
            place-items: center;
            text-align: center;
            width: max-content;
        }
        .blockS h1{
            margin: auto;
            margin-left: -3rem;
        }
        .stacks-list{
            grid-template-columns:  minmax(auto, auto) 1fr 1fr 1fr ;
            margin-top: 4rem;
            gap: 3rem;
        }
        .stacks-list img{
            height: 3rem;
            width:3rem;
            margin: 0.5rem;
            transition: 0.1s ease-in-out;
        }
        .stacks-list img:hover{
            transform: scale(1.35);
    
    }
        .blocks .data .btn , .projects .block .data .list .btn{
            padding:1.5% 4% 1.5% 4%;
            font-weight: bolder;
        }
        .blocks .img{
            display:inline-block;
            position:absolute;
            background-position:center;
            background-repeat:no-repeat;
            background-size: contain;
            overflow:hidden;
            z-index: 5;
            height:100%;
            width:70%;
        }
                .imgA {
                    background-image: url('./assets/img/1.webp');
                    transform: translateX(50%) translateY(0%) scale(1);
                    /* background-size:50% 140%; */
                }
        
                .imgB {
                    background-image: url('./assets/img/2.webp');
                    transform: translateX(-20%) translateY(0%);
                    /* background-size: 60% 145%; */
                }
        
                .imgC {
                    background-image: url('./assets/img/DALL-E/assistant.webp');
                    transform: translateX(50%) translateY(-16%);
                    /* background-size: 40% 90%; */
                }
        /* .projects,.blockB{
            margin-top:5%;
        } */
        /* .projects{
            margin:5% auto;

        } */
    .hr{
        display: block;
        width:50vw;
        margin:15rem auto 15rem auto;
        border: none;
        border-top:3px solid white;
        border-radius:5px;
        outline:none;
        z-index:8;
    }
    .hdng{
        display: block;
        position: relative;
        margin:5rem auto;
    }   
    .sections-clob{
        height:13rem;
        width: 23rem;
        margin-bottom:1.5rem;
        text-align: center;
    }
    #games p , #musicz p , #clcli p{
        font-size:1.5rem;
        width: auto;
    }
    #games button , #musicz button , #clcli button{
        padding:0.8rem 0.5rem;
        width:50%;
    }
	.blockD{
		display: grid;
		grid-template-columns: auto auto;
		place-items: center;
	}
    .stats img{
        height:30vh;
    }
    .stats-lang img{
        height:30vh;
        
	margin-top:auto; 
    }
    .font-sts{
        margin-bottom: 6rem;
    }
    #contact-data{
        display: grid;
        place-items: center;
        grid-template-columns: auto auto;
    }
    .contact-form{
        margin:2rem auto;
        padding-right: 1rem;
    }
    .contact-form .cform .row > *:not(.btn-form){
        margin:1rem auto;
        font-size: 1.2rem;
        text-align:left;
        width: 30vw;
        display: block;
    }
    .btn-form{
        font-size: 1rem;
    }
    .map{
        margin: auto;
        overflow:hidden;
        min-width:40vw;
        height: 40vh;
        padding-left: 1rem;
        border-left: 2px solid rgb(71, 71, 71);
    }
    .footer {
        height:10rem;
        padding-top: 0;
        margin-top: -15rem;
    }
        .footer .social > a {
                font-size:2rem;
        }
        .footer:last-of-type p {
                font-size:1.4rem;
                margin-top: 3rem;
        }

    .container-links{
        display:grid; place-items:center;
        margin:1rem; padding:auto 1rem;
        grid-template-columns:auto auto auto;
        margin-bottom: 25rem;
    }
    .container-links button{
        max-width:14rem; 
        width:14rem; height:6rem;
        outline:none;
        margin:1rem; padding:0 0.5rem;
        border-radius:1rem;
        color:white; font-size:1rem;
        font-weight:500;
        text-shadow:0 5px 5px black;
        transition:0.2s ease;
    }
}