@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'PT Sans', sans-serif;
	transition:0.1s;
	scroll-behavior:smooth;
	--webkit-user-select:none;
	-webkit-tap-highlight-color: transparent;
}
body{
	background:white;
	color:black;
	overflow-y:hidden;
}

main{
	display:block;
	position:relative;
	width: 100vw;
	margin:auto;
	overflow: hidden;

}

/*TOP BAR STYLING*/
.topBar{
	display:flex;
	position:sticky;
	justify-content:space-between;
	align-items:center;
	top:0; left:0;
	height:3rem; width:100vw;
	background: black;
	color:white; fill:white;
	padding:0.2rem;
	padding: 0 0.8rem;
	z-index:99;
}
#topBar h1{
	font-family: 'DynaPuff', cursive;
	font-size:1.5rem;
}
.directIcon {
	padding:0.1rem 0;
	font-size:1.7rem;
}

/*FEED AND DIRECT SECTION*/
.section-A{
	display:flex;
	justify-content:space-between;
	align-items:center;
	overflow-x:scroll;
	width: 100vw; height:100vh;
	margin:0 0 3rem 0;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
	background: black;
	z-index:95;
}
/*FEEDS STYLING*/
.feed-container{
	display:block;
	position:relative;
	/*display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:colounm;*/
	width:100vw; height:100vh;
	margin:0;
	background: black;
	scroll-snap-align: start;
	padding-top: 0;
}
.feed-container h1 {
	font-size:3rem;
}
.feed-container .posts{
	background: black;
	color:white;
	margin-top:1rem;
	border-radius:0.1rem;
	box-shadow: 0px 2px 10px black;
}
.post-nav{
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-direction:row;
	background:black;
	color:white;
	padding-right:1rem;
	padding-left:0.1rem;
}
.post-nav .post-head{
	display:flex;
	align-items:center;
	margin-right:5.5rem;
	text-transform:lowercase;
}
.post-head .post-pfp{
	width:2.5rem;
	height:2.5rem;
	background:red;
	border-radius:50%;
	margin:0.4rem;
	display:grid;
	place-items:center;
}

.post-nav .post-menu {
	top:0; right:0;
	fill:white;
	color:white;
	font-size:17pt;
}
.title {
	margin:0.5rem auto;
	text-transform:capitalize;
}

.post-info{
	display:flex;
	justify-content:space-between;
	align-items:center;
	background:black;
	color:white; fill:white;
	font-size:1.7rem;
	padding:0.4rem 0;
}
.post-info .post-reacts > *{
	margin-right:0.4rem;
}
.post-info .fa-bookmark{
	margin-right:0.5rem;
}
.post-like-count{
	background: black;
	color:white;
	font-size:0.9rem;
	margin:0.2rem 0 0 0.2rem;
}
.post-caption{
	background: black;
	color:white;
}
.post-caption span{
	font-weight:700;
}
.post-comments , .post-time{
	font-size:0.8rem; margin-top:0.1rem;
	color:silver; background: black;
}



.post-footer{
	padding: 0 0.6rem;
}










/*DIRECT STYLING*/
.direct-container{
	display:block;
	position:relative;
	flex-shrink: 0;
	/*display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:colounm;*/
	margin:auto;
	width:100vw; height:100vh;
	min-width:95vw;
	background-color: black;
	color:white;
	scroll-snap-align: start;
	top:0; left:0;

}
.d-tb{
	display:flex;
	position:sticky;
	top: 0;
	left: 0;
	justify-content:space-between;
	align-items:center;
	background:black;
	width:100vw ; padding:0.5rem;
	font-size:1.5rem;
	z-index: 999;
	
}
.d-tb i {
	font-weight: 100;
}
.d-tb div{
	display:flex;
	justify-content:space-between;
	width: 38vw;
}
.d-tb div:last-of-type{
	width: 20vw;
}
/* Assign full width inputs*/  
.search-bar input[type=text] {  
	width: 90vw;  
	padding: 0.5rem 4rem;
	margin: 0.4rem 1rem;  
	display: inline-block; 
	border:none; border-radius:0.4rem;
	background:#1c1c1c; color:white;
} 
.search-bar { 
	position: relative; 
} 
.search-bar i{ 
	position: absolute; 
	left: 2.5rem; 
	top: 1rem; 
	color: gray;
	font-size:1rem;
}
.m-boxes{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:1rem;
	border-radius:0.5rem;
}
.m-boxes .m-clm-a{
	display:flex;
	align-items:center;
	
}
.m-clm-a .m-pfp, .c-pfp{
	float:left;
	border-radius:50%;
	height:2.5rem; width:2.5rem;
	margin-right:0.5rem;
}
.m-clm-a .m-user{
	font-weight:900;
}
/* .m-clm-a .m-text-box{
	
} */
.m-boxes .m-clm-b{
	font-size:1.3rem;
}
.feed-container h1 {
	font-size:3rem;
}
.feed-container .posts{
	background: black;
	color:white;
	margin-top:1rem;
	border-radius:0.1rem;
	box-shadow: 0px 2px 10px black;
}
.post-nav{
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-direction:row;
	background:black;
	color:white;
	padding-right:1rem;
}



/*BOTTOM BAR STYLING*/
.bottomBar{
	display:flex;
	bottom:0; left:0;
	justify-content:space-between;
	align-items:center;
	position:fixed;
	background: black;
	width:100vw;
	color:white; fill:white;
	padding:0.7rem;
	font-size:1.7rem;
}
.bottomBar img{
	display:block;
	height:2rem; width:2rem;
	border-radius:50%;
}
a{
	text-decoration:none;
	color:inherit;
}
.chat-container{
	display:none;
	position:fixed;
	background: black;
	/*display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:colounm;*/
	width:100vw; height:100vh;
	color:white;
	top:0; left:0;
	z-index:100;
	transition:ease-in 2s;
}
.c-tb{
	display:flex;
	position:fixed;
	justify-content:space-between;
	align-items:center;
	background:black;
	padding:0.5rem 0.7rem;
	width:100vw;
	font-size:1.2rem;
	overflow:hidden;
	top:0; left:0;
	z-index:101;
}
.c-tb .c-tb-clm-a , .c-tb .c-tb-clm-b{
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:60vw;
	overflow:hidden;
}

.c-tb-clm-a-om{
	display: block;
	place-items: center;
	margin-left: 0.5rem;
}

.c-tb .c-tb-clm-b{
	width:17vw;
}
.c-tb-clm-a-om img{
	border-radius:50%;
	height:2rem; width:2rem;
	float: left;
	margin-top: 0.2rem;
}
.chat-container i{
	font-size:1.6rem;
}
.c-area{
	display:block;
	position:relative;
	flex-direction:coloumn;
	justify-content:flex-end;
	overflow-y:hidden;
	overflow:scroll;
	flex-wrap:wrap;
	height:100vh; width:100vw;
	overflow-wrap: break-word;
	word-wrap: break-word;
	padding-bottom: 3rem;
}
.c-area .self-msgs{
	display:block;
	position:relative;
	background:rgba(255,0,0,0.8);
	max-width:60vw; 
	padding:0.5rem 1rem; margin:0.5rem 0rem 0.5rem 10rem;
	right:0.5rem; 
	border-radius:1rem;
	
}
.c-area #chat-userName{
	font-size: 0.7rem;
	margin-left: 2.8rem;
}
.c-area .others-msgs{
	display:block;
	position:relative;
	background:rgba(0,0,0,0.8);
	width:50vw;
	padding:0.5rem 1rem; margin:0.5rem auto 1.5rem 2.5rem;
	left:0; right:40vw;
	line-height:1.2;
	border-radius:1rem;
}
.c-bb{
	display:flex;
	position:fixed;
	background: rgb(49, 49, 49);
	justify-content:space-between;
	align-items:center;
	overflow:hidden;
	padding:0.5rem 0.7rem; width:auto;
	font-size:1rem;
	bottom:0.5rem; left:0.5rem; right: 0.5rem;
	z-index:101;
	border-radius: 1rem;
}
.c-bb i{
	font-size:0.9rem;
	border-radius: 50%;
	background: fuchsia;
	padding: 0.4rem;
}
.c-bb form{
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:100%;
}
.c-bb .c-ta{
	color:white;
	background: none;
	outline:none; border: none;
	width:70vw; margin:0 0.5rem;
}
.c-bb .c-s{
	background: none;
	outline:none; border: none;
	color: fuchsia;
	font-size:1.1rem;
	font-weight: bolder
}
.gotoBottom{
	display:grid; position:fixed;
	align-items:center; justify-content:center;
	height:2.5rem; width:2.5rem;
	font-size:1rem; color: silver;
	background: none; border-radius:5rem;
	top:6rem; right:1rem;
	font-weight:100;
	animation:swipe 2s linear infinite ;
}
@keyframes swipe {
	from{opacity:1;}
	to{top:10rem; opacity:0;}
}
.preloader{
	display:none;
	position:fixed;
	box-sizing:border-box;
	height:100vh; width:100vw;
	top:0; left:0;
	text-align:center;
	background:rgba(0,0,0,0.8);
	color:white;
	padding:5rem;
	letter-spacing:0.1rem;
	font-family:Courier new,monospace;
	overflow:hidden;
}
	.loader{
		text-align:center;
		display:grid;
		grid-template-columns:1fr 1fr;
		width:22vw;
		margin:15rem auto 5rem auto;
		padding:auto;
		transform:rotate(45deg);
	}
	.loader .l{
		display:block;
		height:5vh; width:10vw;
		background:brown;
		margin:0.05rem;
		box-shadow:0 5px 5px black;
	}
	.oa{
		animation:mv-a 1.7s ease-in infinite alternate-reverse;
	}
	.ob{
		animation:mv-a2 1s ease-in infinite alternate-reverse;
	}
	.ea{
		animation:mv-b 1.5s ease-out infinite alternate-reverse;
	}
	.eb{
		animation:mv-b2 1.2s ease-out infinite alternate-reverse;
	}
@keyframes mv-a{
	0%{transform:translate(0%,0%);}
	25%{transform:translate(0%,100%);}
	50%{transform:translate(-100%,100%);}
	100%{transform:translate(-100%,0%);}
}
@keyframes mv-a2{
	0%{transform:translate(-100%,0%);}
	25%{transform:translate(-100%,-100%);}
	50%{transform:translate(0%,-100%);}
	100%{transform:translate(-100%,0%);}
}
@keyframes mv-b{
	0%{transform:translate(100%,0%);}
	25%{transform:translate(100%,100%);}
	50%{transform:translate(0%,100%);}
	100%{transform:translate(0%,100%);}
}
@keyframes mv-b2{
	0%{transform:translate(0%,0%);}
	25%{transform:translate(0%,-100%);}
	50%{transform:translate(100%,-100%);}
	100%{transform:translate(100%,0%);}
}



/* Hide the desktop site styles for screens with width greater than a certain value */
@media (min-width: 768px) {
    main {
        display: none;
    }
	.vp-alert{
		display: block;
	}
}

/* Show the mobile site styles for screens with width less than the value */
@media (max-width: 767px) {
    main {
        display: block;
    }
	.vp-alert{
		display: none;
	}

}
