@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    margin:0;
    --webkit-user-select:none;
    -webkit-tap-highlight-color: transparent;
}
body{
    justify-content:center;
    align-items:center;
    text-align:center;
    font-family: 'Source Code Pro', monospace;
    background: #090a09;
}
h1{
    letter-spacing:7px;
    font-weight:900;
    -webkit-text-stroke: 1px white;
    text-stroke: 2px red;
    color:transparent;
}
a{
    text-decoration:none;
    color:white;
    letter-spacing:10px;
    line-height:50px;
    transition:0.4s;

}
a:hover{
    background-color:none;
    color:;
    text-shadow:0 0 50px silver;
    -webkit-text-stroke: 1px white;
    text-stroke: 2px red;
    color:transparent;
}
#All{
   justify-content:center;
   align-items:center;
   text-align:center;
   border:1px solid lightblue;
   color:black;
   //background-color:#6699FF;
   background: #090a09;
   border-radius:20px;
   margin:2%;
   padding:10%;
   font-size:24pt;

   font-weight:900;
}
.box {
  position:relative;
  top:5%;
  height:200%;
  width:100%;
  padding-top:5%;
  overflow:hidden;
  color:black;
}
	.box .footer .social {
		  text-align:center;
	}
	.box .footer .social > a {
		  font-size:20px;
		  width:38px;
		  height:40px;
		  display:inline-block;
		  text-align:center;
		  margin:0 -1px;
		  color:white;
		  padding:1%;
		  transition:0.5s;
	}
		.box .footer .social > a:hover {
			  text-decoration:none;
			  outline:none;
			  border:none;
			  transform:scale(1.2);
			  text-shadow:0 0px 25px black;
			  -webkit-text-stroke: 1px white;
			  text-stroke: 2px red;
			  color:transparent;
		}
	.box .footer .copyright {
		  font-size:13px;
		  color:#fff;
		  text-align:center;
		  font-family:helvetica;
		  font-weight:300;
		  letter-spacing:2px;
		  margin-top:10%;
	}
#Cphoto{
  height:100px;
  width:100px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
@media screen and (min-width:400px) and (max-width:1500px){
    #All{
        margin-left:50%;
        position:absolute;
    }
    #Cphoto{
        float:left;
        height:250px;
        width:250px;
        margin-top:10%;
        margin-left:10%;
    }
    h1{
        margin-left:-27%;
        margin-top:45%;
        float:left;
    }
    a{
        line-height:40px;
    }
}


.particles{
	display:block;
	position:absolute;
	height:15px; width:15px;
	background:orange;
	border-radius:5px;
	animation:mv eval('rand')s ease-in infinite alternate-reverse;
}
@element '#animation' {
  .particles {
    animation-duration: eval('rand')s;
  }
 }
@keyframes mv {
	to{transform:rotate(360deg) translate(0%,60%);}
}