@media screen and (min-width:750px) {

    .head-img {
        height: 35vh;
        margin: 6rem auto 7rem auto;
    }

    .head-img p {
        margin-top: 2rem;
        font-size: 2.5rem;
    }

    .container-links {
        margin-bottom: 10rem;
    }

    .container-links .btn {
        max-width: 14rem;
        width: 14rem;
        height: 6rem;
    }
    .container-links .card{
        flex-basis: 20vw;
    }












    
.container-links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin: 1rem;
    height: 37rem;
    width: 95vw;
    position: relative;
    scroll-snap-type: x mandatory;
    margin: auto;
    background: rgba(35, 35, 35, 0.3);
    border-radius: 2rem;
    /* flex-shrink: 0;
    flex-basis: 0;
    flex-grow: 0; */

}
.container-links a{
    
    text-decoration: none;
}
.container-links::-webkit-scrollbar {
    display: none;
}
.container-links .card{
    flex-basis: 27vw;
    height: 32rem;
    margin: auto 2rem;
    position: relative;
    padding: 1rem;
    flex-shrink: 0;
    scroll-snap-align: center;
    background: rgba(0, 0, 0, 0.267);
    border-radius: 1.5rem;
}
.container-links .card:is(:hover, :focus){
    background: rgba(35, 35, 35, 0.54);
    transition: 0.1s linear;
    filter: drop-shadow(0 0 5px rgba(39, 39, 39, 0.548));
}
.container-links .card::after{
    content: "View this Project";
    position: absolute;
    top: 30%;
    left: 35%;
    height: auto;
    width: auto;
    background: #ff00ff;
    border-radius: 0.8rem;
    padding:0.5rem 1rem;
    text-align: center;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.644));
    opacity: 0;
    transition: 0.2s linear;
}
.container-links .card:hover::after{
    opacity: 1;
    top: 25%;
}
.container-links .card:not:hover::after{
    opacity: 0;
    top: 30%;
}

.container-links .card .card-project-img{
    height: 45%;
    width: 100%;
    position: relative;
    filter: blur(0.5px) brightness(0.7) saturate(0.5) drop-shadow(0 0 4px #ff00ff2f);
    border-radius: 1rem;
}
.container-links .card:is(:hover, :focus) .card-project-img {
    filter: blur(0) brightness(0.7) saturate(1) drop-shadow(0 0 5px rgba(0, 0, 0, 0.644));
    transform: scale(1.02) translate(0, -2px);
    transition: 0.1s linear;
}
.container-links .card:is(:hover, :focus) .card-btn{
    background: #ff00ff;
    border: 1px solid #ff00ff;
    color: #dedede;
    transition: 0.2s linear;
}



/* .container-links .card img::before{
    content: "ddsssssd";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 20px solid red;
    border-top: 20px solid red;
} */
.card .card-stacks{
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
}
.card .card-stacks img{
    height: 2rem;
    width: 2rem;
    border-radius: 0.5rem;
    margin: 0.6rem auto 0.4rem auto;
    position: relative;
    object-fit: contain;
}


.container-links .card h3{
    font-size: 1.2rem;
    text-align: justify;
    margin: 1rem auto;
}
.container-links .card p{
    font-size: 0.9rem;
    font-weight: 500;
    margin: 1rem auto;
    text-align: justify;
    color: #dedede;
    height: 10%;
}
.container-links .card .card-btn{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    background: none;
    border: 1px solid #ff00ff;
    border-radius: 1rem;
    outline: none;
    padding: 0.5rem;
    font-weight: 600;
}


}