.main {
  min-height: 100vh;
  overflow-x: hidden;
}

.navBar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
  transition: all 0.6s ease;
}

.navBar img {
  cursor: pointer;
  filter: invert(1);
}

.navBar .hamburger {
  display: none;
}

.navBar div {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  width: 25vw;
  justify-content: space-between;
}

.navBar div a {
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  width: 30vw;
  justify-content: space-between;
}

.navBar div a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.navBar div a:hover::after {
  width: 40%;
  transition: width 0.3s;
}

.navBarScrolled {
  background-color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navBarScrolled img {
  filter: invert(0);
}

.navBarScrolled div a {
  color: #fff;
}

.hr {
  border: none;
  border-top: 0.5rem solid #000;
  width: 30%;
  margin: auto;
  border-radius: 4rem;

}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.block {
  width: 30vw;
  margin-left: 5rem;
}

.bA h1 {
  font-size: 5rem;
  font-weight: 900;
  color: #000;
  margin-bottom: 1rem;
}

.bA p {
  font-size: 2.7rem;
  font-weight: 800;
  color: #ff0000;
  margin-bottom: 1rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

.bB {
  width: 50vw;
}

.bB h2 {
  font-size: 5rem;
  font-weight: 900;
  color: #000;
  margin-bottom: 1rem;
}

.bB p {
  font-size: 1.3rem;
  font-weight: 700;
  color: #454545;
  line-height: 1.5;
  letter-spacing: 1px;
}

.cC {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 130vh;
  width: 100vw;
}

.bC {
  width: 100vw;
  height: auto;
  margin: auto;
}

.bC h2 {
  font-size: 5rem;
  font-weight: 900;
  color: #000;
  text-align: center;
}

.bC .projectsWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  margin-top: 5rem;
}

.projectsWrapper .projectsContainer {
  display: flex;
  justify-content: flex-start;
  width: 14rem;
  height: 23rem;
  align-items: left;
  flex-direction: column;
  background: #ff0000;
  border-radius: 2rem;
  padding: 1rem;
}

.projectsContainer img {
  border-radius: 0.5rem;
  filter: drop-shadow(2px 2px 5px #9f0000);
}

.projectsContainer .imgDesk {
  height: 100px;
  margin-top: 3.1rem;
  margin-bottom: 3.1rem;
}

.projectsContainer .projectData {
  color: #fff;
  text-decoration: none;

}

.projectData h3 {
  font-size: 1.5rem;
  font-weight: 900;
  color: #fff;
}

.projectData p {
  font-size: 0.9rem;
  width: 100%;
  height: 5rem;
  font-weight: 600;
  color: #ededed;
  margin-bottom: 0.6rem;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: justify;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* Number of lines to show */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;

}

.projectData div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d30000;
  border-radius: 2rem;
  padding: 0.4rem 0.5rem;
}

.projectData div .projectBtns {
  width: 40%;
}

.projectData div .projectBtns button {
  color: #000;
  background: #fff;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  transition: all 0.1s linear;
}

.projectData div .projectBtns:nth-last-child(1) button {
  background: none;
  color: #fff;
  border: 2px solid #fff;
}

.projectData div .projectBtns button:is(:hover, :focus) {
  /* border:2px solid white; */
  border: 1px solid #ff0000;
  box-shadow: inset 0 0 2px black;
  background: #ff0000;
  color: #fff;
  padding-right: 4.5rem;
}

.projectData div .projectBtns:nth-last-child(1) button:is(:hover, :focus) {
  background: #ff0000;
  color: #fff;
  border: 2px solid #ff0000;
  box-shadow: inset 0 0 2px black;
  padding-right: 1rem;
}

.model {
  display: grid;
  place-items: center;
  height: 85vh;
  width: 60vw;

}

.modelA {
  transform: translateY(-0.5rem);
  animation: float 1s ease-in-out infinite alternate-reverse;
}

.footer {
  width: 100vw;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 10rem;
}

.footer .contactForm {
  padding: 1rem;
}

.contactForm h2 {
  font-size: 3rem;
  font-weight: 900;
  color: #000;
  margin-bottom: 2rem;
  text-align: center;
}

.contactForm form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.contactForm form input,
.contactForm form textarea {
  width: 50vw;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.contactForm form textarea {
  border-radius: 1rem;
  height: 20vh;
}

.contactForm form button {
  color: #fff;
  background: #000;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  width: 52%;
}

.footer .bottomFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  background: #000;
  color: #fff;
  padding: 2rem;
  margin-top: 3rem;
}

.bottomFooter .socialMedia {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30vw;
}

.socialMedia h3 {
  font-size: 2rem;
  font-weight: 900;
  color: #fff;
  margin-bottom: 1rem;
}

.socialMedia .socialMediaWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  width: 50%;
  font-size: 2rem;
}

.socialMedia .socialMediaWrapper a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
}

.socialMedia .socialMediaWrapper a:hover {
  transform: scale(1.2);
  color: #ff0000;
}

@keyframes float {
  0% {
    transform: translateY(-0.5rem);
  }

  100% {
    transform: translateY(0.5rem);
  }
}

.cA {
  overflow: hidden;
}



@media screen and (max-width:780px) {
  .main {
    min-height: 100vh;
    overflow-x: hidden;
  }



  .navBar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    box-sizing: border-box;
    transition: all 0.6s ease;
  }

  .navBar img {
    cursor: pointer;
    filter: invert(1);
    transform: translateX(-1.6rem);
  }

  .navBar .hamburger {
    display: block;
    font-size: 2rem;
    z-index: 100;
    transition: 0.3s;
    width: 2rem;
    border: none;
    background: transparent;
    outline: none;
  }

  .navBar .hamburger:is(:hover, :focus)~div {
    display: flex;
    opacity: 1;
    visibility: visible;
  }

  .navBar .hamburger:is(:hover, :focus) {
    transform: rotate(90deg);
  }

  .navBar div {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    width: 100vw;
    height: 100vh;
    top: 4rem;
    left: 0;
    background: #000000b9;
    z-index: 5;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
  }

  .navBar div a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    width: 30vw;
    justify-content: space-between;
    margin: 2rem auto;
  }

  .navBar div a::after {
    content: "";
    display: block;
    text-align: center;
    margin: auto;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
  }

  .navBar div a:hover::after {
    width: 70%;
    transition: width 0.3s;
  }

  .navBarScrolled {
    background-color: #000000ce;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .navBarScrolled img {
    filter: invert(0);
  }

  .navBarScrolled .hamburger {
    color: #fff;
  }

  .navBarScrolled div a {
    color: #fff;
  }

  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .block {
    width: 100vw;
    margin-top: 0;
    margin-left: 1rem;
  }

  .bA {
    margin: 0 2rem;
  }

  .bA h1 {
    font-size: 3.3rem;
    font-weight: 900;
    color: #000;
    margin: 0 2rem;
    margin-bottom: 0.6rem;
  }

  .bA p {
    font-size: 2rem;
    font-weight: 700;
    margin: 0 2rem;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left;
  }

  .model {
    display: grid;
    place-items: center;
    height: 45vh;
    width: 100vw;

  }

  .modelA {
    transform: translateY(-0.5rem);
    animation: float 1s ease-in-out infinite alternate-reverse;
  }

  @keyframes float {
    0% {
      transform: translateY(-0.5rem);
    }

    100% {
      transform: translateY(0.5rem);
    }
  }

  .cA {
    overflow: hidden;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding-top: 4rem;
  }

  .cB {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .cB img {
    width: 55vw;
    height: 30vh;

  }

  .bB {
    width: 80vw;
  }

  .bB h2 {
    font-size: 2rem;
  }

  .bB p {
    font-size: 1.1rem;
    line-height: 1.4;
    text-align: justify;

  }

  .cC {
    height: auto;
    padding: 4rem 0;
  }

  .bC {
    margin: auto;
  }

  .bC h2 {
    font-size: 2rem;
  }

  .bC .projectsWrapper {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }


  .footer {
    width: 100vw;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 3rem;
  }

  .footer .contactForm {
    padding: 1rem;
  }

  .contactForm h2 {
    font-size: 2rem;
  }

  .contactForm form input,
  .contactForm form textarea {
    width: 70vw;
  }


  .contactForm form button {
    position: relative;
    width: 80vw;
    transition: all 0.1s linear;
  }

  .contactForm form button:is(:hover, :focus) {
    background: transparent;
    border: 1px solid #000;
  }

  .contactForm form button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff0000;
    border-radius: 2rem;
    transition: all 0.2s linear;
    opacity: 1;
    z-index: -1;
  }

  .contactForm form button:is(:hover, :focus)::before {
    width: 100%;
    transition: all 0.3s linear;

  }
  .footer .bottomFooter {
    justify-content: space-evenly;
    flex-direction: column;
    padding: 2rem 0;
  }

  .bottomFooter .socialMedia {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
  }

  .socialMedia h3 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }

  .socialMedia .socialMediaWrapper {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    width: 60%;
    font-size: 2rem;
  }

}