@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
.fa-question,.fa-comment,.fa-plus,.fa-users,.fa-user,.fa-phone,.fa-street-view,.fa-bookmark,.fa-gear,.fa-user-plus{
  color:#989898;
  font-size:15pt;
}
body{
  font-family: 'PT Sans', sans-serif;
}
#mn{
  display:flex;
  text-align:right;
  padding:1% 2% 1% 3%;
  font-size:120%;
  background-color:none;
  border-radius:2px;
  position:absolute;
  color:white;
  margin:3%;
  justify-content:left;
  font-family: 'Mate SC', serif;
}
#mn2{
  margin-left:15%;
  color:white;
  font-size:120%;
  font-weight:bold;
}
.fa-search{
  color:white;
  margin-left:1350%;
}
#Menu {
  display: flex;
  background-color: #6699CC;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;
  /* justify-content: left; */
  box-sizing: border-box;
  top: 0;
  left: 0;
  align-items: center;
}
#myNav {
  background-color:white;
  color:black;
  font-weight:500;
  position:fixed;
  height: 100%;
  top:0;
  left:0;
  width: 80%;
  overflow:hidden;
  transition: 0.1s;
  z-index:2;
  box-shadow:-7px 0px 15px black;
}
#myNav1{
  background-color:#6699CC;
  font-weight:600;
  top:100%;
  width:200%;
}
#myNav2{
  background-color:#6699CC;
  font-weight:600;
  top:100%;
  width:200%;
  color:white;
}
#myNav3{
  background-color:white;
  font-weight:700;
  border-bottom:1px solid #707070;
  display:block;
}
#myNav4{
  background-image:url("https://telegra.ph/file/7dbc0fd28718faba3a6ed.jpg");
  background-attachment: fixed;
  background-size:cover;
  background-repeat:no-repeat;
  color:white;
  position:fixed;
  overflow:scroll;
  width: 100%;
  height:100%;
  top:0;
  left:0;
  z-index:2;
}
#headd{
  background-color:#6699CC;
  color:white;
  position:fixed;
  width: 100%;
  top:0;
  left:0;
  overflow:hidden;
  z-index:2;
}
#line{
  border-top:1px solid #707070;
}
.fa-sun-o,.fa-moon-o,.fa-angle-down{
  color:#fff;
}
.fa-sun-o,.fa-moon-o{
  margin-left:36%;
  top:0;
}
.fa-angle-down{
  margin-left:24%;
}
.fa-angle-down:active{
  transform:rotate(360deg);
  transition: .25s ease-in-out;
}
.iconify{
  margin-left:33%;
  font-size:15pt;
  color:white;
}
.fa-eye{
  color:grey;
  font-size:10pt;
}
.a{
   text-decoration:none;
   padding:12px;
   padding-left:20px;
   display:block;
   font-family: 'PT Sans', sans-serif;
   font-size:12pt;
   color:black;
   overflow:hidden;
}
.a:hover {
   text-decoration:none;
}
a{
  text-decoration:none;
}
a:hover {
   text-decoration:none;
}
#MainAvatar{
  float:left;
  margin-left:3%;
  margin-top:1%;
  border-radius:50%;
}
#MainAvatar2{
  border-radius:50%;
  float:left;
}
#acName{
  display:inline-block;
  padding-bottom:10%;
}
#chats{
   margin-top:15%;
}
#pic{
  
}
#profile{
  float:left;
  border-radius:50%;
}
#profile1{
  float:left;
  border-radius:50%;
  margin-top:3%;
  margin-left:1%;
}
#back{
  float:left;
  font-size:20pt;
  font-weight:bold;
  margin:3% 5% 0 3%;
}
#hdn{
  font-weight:700;
  padding-top:2%;
  margin-left:10%;
}
#hdn1{
  font-weight:700;
  margin-left:10%;
}
#hdn2{
  font-weight:700;
  margin-left:2%;
}
#time{
  font-size:10pt;
  font-weight:400;
  color:grey;
  margin-left:38%;
}
#time1{
  font-size:10pt;
  font-weight:400;
  color:grey;
  margin-left:41%;
}
#time2{
  font-size:10pt;
  font-weight:400;
  color:grey;
  margin-left:54%;
}
#time3{
  font-size:10pt;
  font-weight:400;
  color:grey;
  margin-left:39%;
}
#discription{
  font-size:8pt;
  filter:opacity(0.5);
  padding-bottom:2%;
}
#discription1{
  border-bottom:1px solid grey;
  filter:opacity(0.4);
  width:93%;
  margin-left:9%;
}
#discription2{
  font-size:9pt;
  font-weight:500;
  color:purple;
  filter:opacity(0.5);
  padding-bottom:2%;
}
#discription3{
  filter:opacity(0.6);
  font-weight:300;
  font-size:10pt;
  margin-left:2%;
}
#number{
  border-radius:50%;
  background-color:orange;
  color:white;
  padding:1%;
  margin-left:22%;
}
#number1{
  border-radius:100%;
  background-color:orange;
  color:white;
  padding:1%;
  margin-left:54.5%;
}
#number2{
  border-radius:50%;
  background-color:orange;
  color:white;
  padding:1%;
  margin-left:10%;
}
ul,li{
  list-style:none;
}
#date{
  margin-top:20%;
}
#date,#date1{
  display:block;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  color:white;
  background-color:grey;
  border:1px solid grey;
  border-radius:5px;
  width:14%;
  font-size:9pt;
}
#creation{
  display:block;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  color:white;
  background-color:grey;
  border:1px solid grey;
  border-radius:5px;
  width:25%;
  font-size:9pt;
}
#message1{
  border:2px solid white;
  border-radius:7px;
  width:90%;
  background-color:white;
  margin-left:2%;
  margin-bottom:2%;
}
#messageText1{
  height:100%;
  width:80%;
  color:black;
}
#message2{
  border:2px solid white;
  border-radius:8px 8px 8px 0px;
  width:90%;
  background-color:white;
  margin-left:2%;
  margin-bottom:15%;
}
#messageText2{
  height:100%;
  width:80%;
  color:black;
}
#view{
  text-align:right;
  font-size:10pt;
  color:grey;
}
#container{
  margin-top:30%;
  border:1px solid white;
  border-radius:5%;
  display:block;
  width:95%;
  background-color:white;
  height:10%;
  padding:2%;
  z-index:1;
  color:black;
  position:fixed;
  overflow:hidden;
}
#container1{
  width:95%;
  text-align:center;
  font-weight:bold;
}
.container{
  margin-top:7%;
  border:1px solid white;
  border-radius:5%;
  display:block;
  width:100%;
  background-color:white;
  height:10%;
  padding:2%;
  z-index:1;
  color:black;
  position:fixed;
  overflow:hidden;
  text-align:center;
  font-weight:bold;
}
#bottomBar{
  display: flex;
  background-color:white;
  color:#6699CC;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 3;
  border-top:1px solid grey;
  /* justify-content: left; */
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  justify-content:center;
  align-items:center;
}
#mute{
  z-index:4;
}
#unmute{
  z-index:5;
}
.ch img, .ch p{
	animation:notif 1.2s ease-out infinite alternate-reverse;
}

@keyframes notif{
	from{}
	to{box-shadow:0px 0px 15px darkred;}
}